<extend name="Index/index"/>
<block name="main">
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tbody><tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </tbody></table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tbody>
                            <th>ID</th>
                            <th>名称</th>
                            <th>所属分区</th>
                            <th>版主</th>
                            <th>操作</th>
                        </tr>
                    <?php foreach($cates as $cate): ?>   
                        <tr>
                            <td><?= $cate['cid'] ?></td>
                            <td><?= $cate['cname'] ?></td>
                            <td><?=     $parts[$cate['pid'] ] ?></td>
                            <td><?= 	$users[$cate['uid'] ] ?></td>
                            <td>
                                <a class="link-update" href="/index.php?m=admin&c=cate&a=edit&cid=<?=$cate['cid']?>">修改</a>
                                <a class="link-del" href="/index.php?m=admin&c=cate&a=del&cid=<?=$cate['cid']?>">删除</a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody></table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
</block>